[2018-02-04 13:49] reggie3 opened #1 "Test on iOS Device"
This component was built and tested on a One Plus 5 and Motorola Nexus 6.  It still needs to be tested on an iOS device.

[2018-02-04 13:53] reggie3 opened #2 "Unable to Respond to Map Touches Done in Rapid Succession"
Appears to be related to issue mentioned in this article:
[Communicating between React Native and the WebView](https://medium.com/capriza-engineering/communicating-between-react-native-and-the-webview-ac14b8b8b91a)
I will monitor, and correct when able.

[2018-02-04 23:39] reggie3 opened #3 "Expo Published Project Application Doesn't Show Map WebView"
The application works in development, and shows the Leaflet map correctly.  However, the application does not show a map when it is published via Expo's publishing functionality.

[2018-02-07 19:37] reggie3 commented on #3
This is related to the same problem detailed in my other WebView based package at https://github.com/reggie3/react-native-webview-quilljs/issues/1
The solution listed there should work here too.

[2018-02-10 01:05] reggie3 commented on #3
Published project now works.

[2018-02-10 01:06] #3 closed

[2018-02-12 00:37] reggie3 opened #4 "Icons Too Small on iPhone"
Icons placed on the map appear correctly on Android devices, but are too small on iPhone (and presumably other iOS devices).  The fontSize style property appears to be ignored.

[2018-02-15 18:07] reggie3 opened #5 "Map Doesn't Center on New Coordinates After Creation"
After creating the map, it does not re-center if new center coordinates are sent to it.
The "MAP_CENTER_COORD_CHANGE" message is sent with the correct coordinates, but the map does not center on that location.

[2018-02-15 19:58] reggie3 commented on #5
Fixed in version 0.1.830

[2018-02-15 19:58] #5 closed

[2018-02-17 19:34] reggie3 opened #6 "Use 'renderLoading' prop of WebView"
Use built in WebView 'renderLoading' prop to show activity indicators during WebView HTML loading instead of Boolean flags and 'render-if'.

https://facebook.github.io/react-native/docs/webview.html#renderloading

[2018-02-17 19:57] reggie3 opened #7 "Use Expo Asset Bundling Instead of File Upload and Download"
Use Asset Bundling technique from https://docs.expo.io/versions/latest/guides/offline-support.html instead file upload technique from blogpost.

[2018-04-06 12:57] reggie3 commented on #7
Added in version 0.2.9

[2018-04-06 12:57] #7 closed

[2018-04-06 12:58] reggie3 commented on #4
Fixed by adding  `scalesPageToFit={false}` prop to WebView component.

[2018-04-06 12:58] #4 closed

[2018-04-06 12:58] reggie3 commented on #6
Added in version 0.2.0

[2018-04-06 12:58] #6 closed

[2018-04-06 13:08] reggie3 opened #8 "Icons (Emojis, HTML, etc.) Drift From Location When Map Scale Changes"
When the map is zoomed, markers drift from their original location.

[2018-04-06 13:10] reggie3 opened #9 "Markers Not Centered at Assigned Location"
Markers are HTML DIV elements that need to be shifted left 50% and up 50% in order to be centered.  Currently, they are placed in their default HTML position.

[2018-04-06 22:41] reggie3 opened #10 "Using 'append' in to show debug messages breaks testing"
Using 'append' in to show debug messages prevents component from mounting when testing.  It is also improper practice when using React.  Use a state based technique instead.  Technique first implemented in the "adding-tests" branch.

[2018-04-07 22:05] reggie3 opened #11 "Add Testing"
Add testing to ensure library can survive pull requests.

[2018-04-23 13:17] #10 closed

[2018-04-27 09:50] reggie3 commented on #11
Testing framework added.

[2018-04-27 09:50] #11 closed

[2018-04-27 09:51] reggie3 opened #12 "Add Support for All leaflet Map State change Events"
Add support for events listed here:
http://leafletjs.com/reference-1.0.2.html#map-event

[2018-04-27 09:51] reggie3 opened #13 "Check for valid coordinates passed to WebViewLeaflet"
Check coordinates for validity prior to sending the leaflet.js  Currently, passing an invalid coordinate to WebViewLeaflet crashes leaflet.js

[2018-04-28 09:50] reggie3 commented on #13
added in 0,3,0

[2018-04-28 09:50] #13 closed

[2018-04-28 09:51] reggie3 commented on #12
added in 0,3,0

[2018-04-28 09:51] #12 closed

[2018-05-28 22:19] reggie3 opened #15 "Android Production Build Issue"
Library doesn't word on Android production builds.  This issue is the same one affecting the react-native-webview-quilljs library [here](https://github.com/reggie3/react-native-webview-quilljs/issues/21)

Solving it for one library will fix both.

[2018-06-19 10:54] reggie3 commented on #15
Fixed in version 2

[2018-06-19 10:54] #15 closed

[2018-06-19 10:54] reggie3 commented on #8
Fixed in version 2.

[2018-06-19 10:54] #8 closed

[2018-06-19 10:54] reggie3 commented on #2
Fixed in version 2.

[2018-06-19 10:54] #2 closed

[2018-06-19 10:54] reggie3 commented on #9
Fixed in version 2.

[2018-06-19 10:54] #9 closed

[2018-06-22 18:33] drewg233 opened #16 "Image Overlay"
Cool library. Thanks for open-sourcing it. Is it possible to add an image overlay to the map yet?

[2018-06-22 21:21] reggie3 commented on #16
Can you describe what you're looking for?

[2018-06-23 11:06] xiaoliyong opened #17 "How do I load the map"
Can you write a detailed tutorial？

[2018-06-23 11:21] reggie3 commented on #17
Did you check out the readme on this repo?  I tried to be very explicit on how to use the component.  Let me know what is not clear about it.

[2018-06-23 11:33] xiaoliyong commented on #17
`  <WebViewLeaflet
              // get a reference to the web view so that messages can be sent to the map
              ref={(component)=> (this.webViewLeaflet = component)}
              // the component that will receive map events
              eventReceiver={this}
          />`
I use it, but not show a map in my android Emulator
and show a error
### Emulator: CANNOT TRANSLATE guest DNS ip

[2018-06-23 13:48] reggie3 commented on #17
Thanks for the quick response.
You are using the component correctly.  The error you received is network related so I'd start by confirming that the emulator has network access as this stackoverflow article suggests. [](https://stackoverflow.com/questions/42526466/how-to-prevent-android-studio-avd-cannot-translate-guest-dns-ip-error-messag)

[2018-06-23 14:32] xiaoliyong commented on #17
Thanks for your answer.
If i want to load a map from Open Street Maps, how can i load it?
I don't see you loading a map using URL in your component.

[2018-06-23 16:20] reggie3 commented on #17
The Open Street Map tiles will be loaded by default.  You can see the code for loading it in the leafletComponent.js file

[2018-06-23 16:29] xiaoliyong commented on #17
sorry，I don't find leafletComponent.js,
Which folder is it in?

[2018-06-27 17:57] reggie3 commented on #17
it is in the 'src/web' folder

[2018-07-02 10:53] suraj740 opened #18 "this.webViewLeaflet undefines"

[2018-07-02 11:36] reggie3 commented on #18
You closed this issue. Is it still a problem?

[2018-07-02 11:37] suraj740 commented on #18
No , i got the issue and resolved.
Thanks

[2018-07-02 15:55] atkisai opened #19 "No map in the finished apk."
During the development of the tile map there, but there is no tile map for the finished apk.
There is only a button.
Tile map dont run without comand "react-native run-android" on the development device.
Tile map dont run in finished apk.
I dont now why is this.
![screenshot_1](https://user-images.githubusercontent.com/25017486/42324107-d761dba2-806a-11e8-9c07-9975ba9f64d1.png)

[2018-07-03 13:48] suraj740 opened #20 "trying to add custom map"
Hi @reggie3 ,
i am trying to add custom map in place of default open street maps , then how can i set markers on that.
Please help if possible

[2018-07-07 18:19] reggie3 commented on #19
I've never tried to run the package using the` react-native run-android` command.  Can you post your code?

[2018-07-07 18:20] reggie3 commented on #20
I've never tired to add another map tile set. What tile set are you using?

[2018-07-07 19:28] suraj740 commented on #20
@reggie3 thanks for reply,
i am trying to use 2d mall map in place of that.

[2018-07-07 21:01] reggie3 commented on #20
I'm not sure that is possible. Have you taken a look at the original
leaflet library to see if it is possible there? My library card do anything
the original can't.  However, if you can figure out how to get it working
with leaflet, then I think I can get something working.

On Sat, Jul 7, 2018, 3:28 PM suraj740 <notifications@github.com> wrote:

[2018-07-08 22:12] marconett commented on #20
trying to do the same at the moment. there's a tutorial for vanilla leafletjs: https://leafletjs.com/examples/crs-simple/crs-simple.html

[2018-07-09 08:05] suraj740 commented on #20
Hi @reggie3, i have already created that using leaflet and is working for web. But the thing is that i want to use that in react native. Can you help now if possible.

[2018-07-16 08:10] jiashenglim opened #21 "Image Overlay using Leaflet"
Hi, Thanks for sharing. I am trying to implement a floorplan with marker for using leaflet to react native.
Something similar to this ...https://codepen.io/zachdunn/pen/VvRXdP
Will I be able to implement it with your library

[2018-07-16 22:14] reggie3 commented on #21
This library is built on top of the react-leaflet library, so if you can get it working with that library, then I think it could be made to work here.  If you look at the react-leaflet imageOverlay documentation here [](https://react-leaflet.js.org/docs/en/components.html#imageoverlay) then what you're looking for should be possible by replacing the TileLayer component in the mapComponent.js file.

[2018-07-18 12:38] Xixi20160512 opened #22 "onUpdateMapState did' not emit"
![image](https://user-images.githubusercontent.com/19320239/42881626-56eb5164-8aca-11e8-9574-4b631f036af9.png)

in my app , this function did' not emit, so it has not sync the state, anyone know what's going wrong?

[2018-07-18 14:58] reggie3 commented on #21
For question #1, you can edit the MapComponent.js file in this package's node_modules directory in your project.  That'll get you to the point of at least making it work for you.  You could also fork this repo, make changes to your copy, and then install from your fork.  Here is a short article on that subject [](https://medium.com/@jonchurch/use-github-branch-as-dependency-in-package-json-5eb609c

[2018-07-18 22:03] reggie3 commented on #22
@Xixi20160512 I bet that `this.mapState` should be `this.state.mapState`.  Try making that change, and let me know if it works.  You can submit a pull request if it does.

[2018-07-25 07:35] sunnixx opened #23 "onMapClicked doesn't work"
Hi
I've been able to successfully show the map using the readme in the repo. But for some reason the onMapClicked doesn't do anything
`import React, { Component } from 'react';
import { View } from 'react-native';
import WebViewLeaflet from 'react-native-webview-leaflet';

class App extends Component {

  constructor(props) {
    super(props);
  }

  render() {
    return (
      <WebViewLeaflet

[2018-07-25 13:48] sunnixx commented on #23
@reggie3 hi can you please update on this ?

[2018-07-26 23:01] reggie3 commented on #23
You'll need to add the on the event handler to the WebViewLeaflet's parent, not the WebViewLeaflet itself.

This is what the README says:
"To receive map clicked and on map marker clicked events, add the following functions to the component that contains the WebViewLeaflet.

[code]

[2018-08-01 09:48] Kroonax opened #24 "Adding an URL parameter to the Component to use a custom TileLayer"
Hello,

First, thanks for working on this package, I've been hurting my head for a long time to make an Expo app work with a Map package that is not Google Maps (you now, Maps pricing changed...).

This issue kind of adresses #21 , it would be REALLY cool it it were possible to add a simple URL to the component to use a custom TileLayer. I am used to work with some techs from a company that provid

[2018-08-02 02:54] cordelialoo commented on #23
I need your help cause the click function not working in android emulator api 26.
I have try using the code above and insert in the parent of the component.
Do I need to amend anything in the WebViewLeaflet?
Currently, I just remain it as

<WebViewLeaflet
	 // get a reference to the web view so that messages can be sent to the map
	  ref={(onMapClicked) => (this.webViewLeaflet = onMapClicked)}

[2018-08-02 10:30] tritonjoyeux opened #25 "Map didn't show"
Hi,
I followed the README and my map is not showing :/
![image](https://user-images.githubusercontent.com/16247113/43578620-9507b592-964f-11e8-9a42-8efdf033e5c8.png)
Render =>
[code]

[2018-08-02 12:58] Kroonax commented on #25
That little snippet of code does not really help, is it a "vanilla" App.js file ?

Having your whole code sample would help a lot

[2018-08-03 17:00] marioviana commented on #25
@tritonjoyeux Probably that's because you put that component inside View.

Try to remove the View component.

[2018-08-03 20:32] reggie3 commented on #23
Can you confirm that the component containing the WebViewLeaflet component has functions to handle the events?  You should be mimicking the "App.js" file in the repository [](https://github.com/reggie3/react-native-webview-leaflet/blob/master/App.js)

[2018-08-04 19:38] reggie3 commented on #25
Also, make sure you have the correct styles for `styles.container`
See the example in `App.js` for more detail.

[2018-08-04 19:53] reggie3 commented on #24
I'm working on that right now, and hope to have something done soon.  This feature will be in the `6-with-raster-layers-2` branch.

[2018-08-04 20:27] #17 closed

[2018-08-04 20:28] reggie3 commented on #16
closing this an moving it to #24

[2018-08-04 20:28] #16 closed

[2018-08-04 20:28] reggie3 commented on #21
closing this and moving it to #24

[2018-08-04 20:28] #21 closed

[2018-08-04 20:28] reggie3 commented on #20
closing this and moving it to #24

[2018-08-04 20:28] #20 closed

[2018-08-14 10:09] CdRom1 opened #26 "Viewport doesn't work"
Hello!
I am able to update the viewport using react-leaflet bounds like this:
[code]
This code works perfectly and doesn't print anything to the console.

But I can't use the viewport API. This code doesn't seem to do anything except printing a message to the console.
[code]
The viewport api would be a very useful tool because it uses the same formatting than geo urls...
Thanks,
Romain

[2018-08-14 10:59] CdRom1 commented on #26
I've just realized the zoom property works like this, but not the center property:
[code]

[2018-08-14 11:52] tritonjoyeux commented on #25
It works @marioviana thanks :)

[2018-08-14 11:52] #25 closed

[2018-08-21 12:45] plSln opened #27 "Marker - Icon Anchor"
Hello,
I have to add the Icon Anchor to a Marker, Leaflet supports that:
https://leafletjs.com/examples/custom-icons/

How can I add it?

[code]
Best regards & thanks for your help,
Philipp

[2018-08-26 01:49] reggie3 commented on #26
Were you able to solve your issue?

[2018-08-26 10:02] CdRom1 commented on #26
No, so my workaround was to convert the desired center/zoom into bounds, using sample code from leaflet.

[2018-08-29 03:43] isaaclem opened #28 "Unable to show a simple map?"
I'm following the steps in README.md, trying to load the map in the simplest form.

`App.js`
[code]

And below is what I've got

<img width="288" alt="screen shot 2018-08-29 at 11 41 08 am" src="https://user-images.githubusercontent.com/32945572/44764061-744a7380-ab80-11e8-823c-bacd263a6a0d.png">

I've also noticed that in your `App.js`, you are not importing `WebViewLeaflet` from `'react-native-w

[2018-08-29 03:53] isaaclem commented on #28
I've gone thru the closed issues list and found the solution there, thanks!

[2018-08-29 03:53] #28 closed

[2018-08-30 10:16] isaaclem opened #29 "What is the simplest way to render the map with given coord?"
First of all many thanks for providing this library. I've no experience in using any map API and wish to start by implementing yours into my React Native project, tryna play around.

I've tried to copy your `App.js` and it does render the map successfully however the map couldnt seems to centralized on the given coord upon loading. Right now it's always showing the map centralized on "Virgina Beac

[2018-09-03 23:35] reggie3 commented on #19
This is a tough one.  Are you sure you have a network connection?  The map tiles are not included in the library, and must be streamed to the device.

[2018-09-06 02:08] wresniwahyu opened #30 "Can't Goto My Location on Map Start"
I am new in react native and i want to show map in my app use osm and i found this cool library. i was read and copy from your App.js code, i am not use expo for get location.
How to goto my location automatically when map start if i had coordinate ?
and how to active button my location and zoom in out in map?
Can anyone help me? thanks before bro for this cool lib

`import React, { Component } fr

[2018-09-10 05:56] wresniwahyu commented on #30
@marioviana thanks it works in emulator but in ios device i get error
"Possible Unhandled Promise Rejection(id: 0) Error to open URL..."

what should i do?

[2018-09-16 20:05] reggie3 commented on #30
@wresniwahyu I just did some updates that may fix the problem you ran into.  Download the latest version and try it again.  Also, make sure you have a good network connection.

I've confirmed that the current demo app works on an iPhone 6+.  Why don't you try copying the code from the demo App and see if you get the same error.

[2018-09-16 20:12] reggie3 commented on #27
Starting at version 3.0.15, I added an `iconAnchor` property that you can set on the location object.  Please let me know if it is what you're looking for.

[2018-09-16 20:13] reggie3 commented on #26
Sounds good.  I'm going to close this issue then.

[2018-09-16 20:13] #26 closed

[2018-09-16 20:16] reggie3 commented on #24
Starting with 3.0.15 I've gotten multiple raster layers and WMSTileLayer to work.  Still no luck with Image and Video Overlays.

[2018-09-16 20:17] reggie3 commented on #23
Closing for inactivity.

[2018-09-16 20:17] reggie3 commented on #22
Closing for inactivity.

[2018-09-16 20:17] #22 closed

[2018-09-16 20:17] #23 closed

[2018-09-17 09:07] gisert commented on #30
Im so  sorry for interrupting you, what should I do

[2018-09-18 20:09] reggie3 commented on #30
You'll need to post the code you're using.

[2018-09-18 20:30] wresniwahyu commented on #30
@reggie3 Oke thanks now it work in real device.
I want to try with your code but i get some error because iam not using expo maybe.

Now I am stuck with add some marker
I am try copy your App.js code but there is no marker added

Can u show me the simplest way to add markers in map?

[2018-09-20 06:08] wresniwahyu commented on #30
@reggie3 Oke thanks now it work in real device.
I want to try with your code but i get some error because iam not using expo maybe.

but i have same problem again
i've set function to get lat lng in componentDidMount()
and then send message to webview

sometimes it work to animate goto center map
but often its not work

you can see in the log i get the latlong before sending message to webview but

[2018-09-20 11:32] GabrielScalici commented on #19
Same issue, and I have a network connection.

[2018-09-22 22:10] reggie3 commented on #19
@GabrielScalici I'm assuming the map works in the dev environment.  I have't tried to publish an actual APK yet, so I haven't run into this problem.
Hopefully, somebody else can speak more towards a solution.

[2018-09-22 22:12] reggie3 opened #32 "Need Confirmation that this Package Works on in a Published APK or IPA"
I need confirmation that this package works in a published application.

[2018-09-24 07:00] wresniwahyu commented on #30
Hi @reggie3 can u help my issue above ?

[2018-09-24 13:25] reggie3 opened #33 "Package does not work in published Android APK"
This package does not work in published APK.
This issue also affects react-native-webview-quilljs.

Efforts to fix this problem affecting both packages will be tracked here

[2018-09-25 02:14] reggie3 commented on #30
I don't know where the websocket error is coming from since this library doesn't use it.

[2018-09-25 02:15] reggie3 commented on #32
Efforts to get this package working in production apps will be tracked in issue #33

[2018-09-25 02:15] #32 closed

[2018-09-25 02:15] reggie3 commented on #19
This issue has been moved to issue #33

[2018-09-25 02:15] #19 closed

[2018-09-25 02:18] reggie3 commented on #33
Using the fix suggested by use @ide in the above Expo forum thread seems to solve the problem.  The beta that incorporates this fix can be installed using `yarn add react-native-webview-leaflet@beta` (or npm install if you prefer)

So far, the only negative effect that I have found is that the Leaflet map layer control buttons do not have icons on them.

[2018-09-25 02:58] reggie3 commented on #33
While this current beta works in production on Android, I still need someone to confirm that it works on iOS.  I would appreciate it if somebody could try it and let me know.

First, you'd need to have Expo installed
Then you'll have to clone this repo, and specifically clone the '10-without-sentry-logging' branch.
Assuming you've done both of those, edit the `app.json` file's `bundleIdentifier` v

[2018-09-27 22:23] penpendede opened #34 "Critical vulnerability in package 'open'"
Hi,

I am using bleeding edge nodejs and npm  (i.e. 10.11.0 and 6.4.1, respectively) that perform security audits as you install and the following vulnerability concernes me a bit:
[code]

As it is not too unlikely that software I write ends up being used at (German federal) state level authorities I cannot take the issue of vulnerabilities lightly. I may be over-converned but I guess that given y

[2018-09-28 10:06] reggie3 commented on #34
@penpendede Thanks for the notification.  I added the Sentry dependencies in order to do some debugging.  I've removed them and republished the package.

[2018-10-02 11:22] carlowenig opened #35 "Compatibility with react-native without expo"
Hi there,
since the update to version 3 I encounter the problem, that react-native-webview-leaflet depends on expo.
Is this necessary or could it be changed with the next update?
I really depend on this library, but I don't want to use expo because of the big app size.

Thanks in advance!

[2018-10-02 13:20] #34 closed

[2018-10-02 13:21] #33 closed, assigned to nobody

[2018-10-02 13:31] reggie3 commented on #35
The reason Expo is currently included as a dependency is documented in the Expo forums here:
https://forums.expo.io/t/webview-unable-to-access-html-file-in-published-application/14092

To summarize, my published APK was unable to find the index file that contained the react-leaflet and leaflet.js code.  Even though the file was included, it was not able to be found using a standard `import` statem

[2018-10-10 02:21] wresniwahyu opened #36 "Button My Location Not Work"
How to activate the button my location in webview ?
There is button my location (with icon dart) but there is no action when i click it

[2018-10-10 15:41] Peretz30 commented on #35
Hey, @reggie3 ! I think, I have found solution, check this out
https://github.com/facebook/react-native/issues/505

[2018-10-12 19:07] reggie3 commented on #35
@Peretz30 I saw that you made some changes in that section of WebViewLeaflet.js file in your fork.  Did you do those changes in order to implement the solution at that link?

[2018-10-13 14:39] Peretz30 commented on #35
@reggie3 yes, I experimented with it, but I still can't make this package working properly in my project. Now I am looking to react-native-maps with custom layers, but it's requed Google API key anyway, Thats very weird.

[2018-10-29 15:52] loursbrun opened #37 "Babel Module - babel-preset-expo error"
I can't try the plugin on expo, the is a babel error message :
`Plugin/Preset files are not allowed to export objects, only functions. In /Users/*******/react-native-webview-leaflet-master/node_modules/babel-preset-expo/index.js
Failed building JavaScript bundle
`
How to test the plugin in right way ?
This is my steps:
1) create-react-native-app TestReactNativeWebviewLeaflet
2) npm install
3) impo

[2018-11-03 18:07] reggie3 commented on #36
Fixed in version 4

[2018-11-03 18:07] #36 closed

[2018-11-03 18:08] #30 closed

[2018-11-03 18:08] #24 closed

[2018-11-03 18:08] #27 closed

[2018-11-03 18:09] #29 closed

[2018-11-09 09:04] skyflystar opened #38 "No rendering markers"
How can I render markers on map?
I have code below, but it shows only yellow screen.
[code]

I think a reason in markers prop. When I deleted it, map works fine.

[2018-11-09 10:52] gus3inov commented on #38
Are you sure that your mapLayres doesn't conflict with markers ?
Just try remove mapLayers for example

[2018-11-09 10:54] gus3inov commented on #38
Ant try to set ownPositionMarker, i think its required for markers

[2018-11-09 11:16] skyflystar commented on #38
Removing mapLayers is incompatible. Setting ownPositionMarker didn't help :(

[2018-11-11 15:14] skyflystar commented on #38
@reggie3 need your help

[2018-11-12 09:18] skyflystar commented on #38
I've updated my WebViewLeaflet and changed my component to:
[code]
[code]
It render map, but markers aren't visible yet.

[2018-11-12 23:13] reggie3 commented on #38
@skyflystar What version are you running?  I just posted an updated package today, so make sure you are using the most recent version.

[2018-11-13 00:53] reggie3 commented on #38
@skyflystar I don't know if it's related, but your componentDidUpdate code is confusing to me.  It's setting the state to the already current state.

Also, I've copied your marker object into the same data structures that I keep my test marker objects, and I can't seem to get it to work with your location.

[2018-11-15 11:08] reggie3 commented on #38
@skyflystar I'm not sure what's going on, but I'll keep working on it.

[2018-11-15 11:35] skyflystar commented on #38
Hi, @reggie3 ! It's very strange, but I made this map to render markers for me. Code below:
[code]
In render():
[code]

[2018-11-15 11:36] #38 closed

[2018-11-15 23:10] reggie3 commented on #38
That's great!  Is there any difference between what worked, and what you did originally?  I'm not seeing anything that explains why it didn't work.

[2018-11-20 13:07] #37 closed

[2018-11-20 13:07] #1 closed

[2018-11-21 12:39] skyflystar opened #39 "Custom design for clusters"
Hi,
how can I change default design for marker clusters?

[2018-11-23 23:58] reggie3 commented on #39
That is not supported at this time.  Maybe in the next release.

https://github.com/YUzhva/react-leaflet-markercluster#api

[2018-11-30 17:58] loursbrun opened #40 "Is UTFGrid is compatible ?"
When I use tiles, image are well showing , but without grid data.
Is it possible to match data with map events like :https://github.com/consbio/Leaflet.UTFGrid ?

[2018-12-01 22:02] reggie3 commented on #40
I'm not sure.  This package purports to enable UTFGrid to work in React Leaflet: https://github.com/svancise/react-leaflet-utfgrid.  However, its readme is pretty spartan.  If you can help me figure out how to get it to work with React-Leaflet, then I pretty sure I can get it to work with this package.

[2018-12-07 08:02] apndo opened #41 "Custom animation"
Hi,
can I set a custom animation for marker? how can I make marker to play animation once, if map re-renders after moving and animation plays again?

[2018-12-18 14:34] reggie3 commented on #41
The animations are CSS key frame animations kept in the https://github.com/reggie3/react-native-webview-leaflet/blob/master/web/markers.css file.  If you can do what you want with CSS animations, then you should be able to set it as the animation for a marker.

You can either edit the marker file yourself, send me your desired animation as a reply comment, or submit a pull request with your desire

[2019-02-12 09:02] forki commented on #35
any progress here?

[2019-02-12 09:07] Peretz30 commented on #35
@forki there is new fork of react-native-maps with OpenStreetMap support by default. I recommend to use it [react-native-maps-osmdroid](https://github.com/fqborges/react-native-maps)

[2019-02-17 18:17] reggie3 commented on #35
@forki @Peretz30 I've been pretty busy, and unable to address this issue. Maybe some time in the future, but it won't be any time soon.  I'll keep this issue open in case somebody wants to submit a pull request that addresses this issue.

[2019-03-10 04:00] ethanx94 commented on #35
Another problem with the Expo dependency is that Expo actually isn’t compatible with react-native-windows. I ended up just using a basic Webview and postMessaging any calls to the dom through strings and eval. It was a pretty ugly hack but it worked. I hope this library can break free of that dependency eventually.

Before I went the WebView route, I made an attempt at stripping away the dependenc

[2019-03-12 03:34] reggie3 commented on #35
I think now that Expo has separated its dependencies into multiple packages, it should be possible to get by with just https://www.npmjs.com/package/expo-file-system vice the whole exp system.  I'm pretty busy at the moment but will try to take care of this in short order.

[2019-03-12 12:00] DanielBoening commented on #35
Hi,
I'm looking forward to this change as we currently want to implement leaflet in our app. If there is anything I can do to help just let me know.

[2019-03-23 10:57] ChoSangIk opened #43 "How to I get a bounds base on current location at first map open?"
i want to get a map bounds at open map based on my current location.

i need getBounds() function in leaflet

plz how?

[2019-03-23 11:38] #43 closed

[2019-03-26 17:03] pxFIN opened #44 "Markers vs. OwnPositionMarker"
Referring to the issue https://github.com/reggie3/react-native-webview-leaflet/issues/38 i have similar challenge to render markers on openstreet map without using OwnPositionMarker

So my question is as i have understood OwnPositionMarker is required to be set for other markers to work but why ? Without setting it i get also yellow screen.

In my use case i dont have any use for OwnPositionMarker

[2019-03-27 07:50] ikkustudy opened #45 "MapRender did't work real mobile iphone. but only work well in simulator"
When I tried "expo start" on the terminal.

In the simulator, reat-native-leaflet works well. But it does not work on my mobile phone. Only the orange screen is visible. When I think of it, leaflet does not do MapRender.

+ Other code works well. ex) <View source = local image />
+ I have run on the same iOS version (simulator IOS and Real iphone)
+ I was running on the same Wi-Fi in LAN mode.

Pl

[2019-04-01 12:34] ManishSharmaApporio opened #46 "Expo SDK not used in react native"
Hi Team ,
I have install dependency successfully when i  run the app in device getting (expo sdk not supported) please help me out

[2019-04-08 23:18] reggie3 commented on #46
I'm not sure why you're getting this error.  I'm assuming it is because you're not using the Expo SDK.

[2019-04-08 23:20] reggie3 commented on #44
Good point.  This is a bug that needs to be addressed.

[2019-04-08 23:21] #41 closed

[2019-04-09 04:54] ManishSharmaApporio commented on #46
@reggie3 can you please let me know how can i use expo SDK in our project ?

[2019-04-09 16:37] reggie3 commented on #44
I just uploaded version 4.2.4 which should fix this problem.

[2019-04-09 16:39] reggie3 commented on #46
I just uploaded version 4.2.4 which should no longer require you to use Expo SDK in order to use this library.  Let me know how it goes.

If you want to use Expo, I recommend going to https://expo.io/ to learn more about it.

[2019-04-10 06:35] ManishSharmaApporio commented on #46
@reggie3  okey  i will  let you know when its published once  on npm.

[2019-04-14 12:00] reggie3 opened #47 "Map Not Displayed In iOS App"
related to problem referenced by expo-asset-utils issue #11   https://github.com/expo/expo-asset-utils/issues/11

When imported into another project both this library and react-native-webview-quilljs do not work in iOS projects.  The iOS project reports an "Asset not found" error.

Reverting back to including Expo as a dependency until the underlying issue with expo-asset-utils is solved.  This re

[2019-04-25 07:10] ManishSharmaApporio opened #48 "HTML not loaded in android and IOS"
![Screen Shot 2019-04-25 at 12 34 02 PM](https://user-images.githubusercontent.com/35055242/56716113-24e03580-6757-11e9-94a6-704c135f8e9a.png)

Please help me out for the same

[2019-05-09 14:09] pierroo opened #49 "use image for markers"
Hi,

is there a way to use an image instead of an icon for markers?
An image from my assets.

I see we can use any HTML, but how can I fetch my app images to display on the map?
if my images are stored in ../assets/images/example.png for example

Bonus question:
- How can I get rid of that icon at the top left that hide/show markers?
- Can we draw lines between markers?

Thank you for your help

[2019-05-14 16:01] LiamBateman opened #50 "Local Files?"
Is it possible to load local files (Dynamic) files into the map? Using the local URI eg file://data/tiles/whatever/etc

Happy to update docs once we know it's possible.

[2019-05-15 06:09] almas542 commented on #49
Hi pierroo,
You can add the image from assets like blow code. its work for me.
locations: [{
              name: 'positionMarker',
              icon: '<img src="../../../../assets/icons/position.png" width="100" height="100" >',
              coords: [position.coords.latitude, position.coords.longitude],
              size: [100, 100],
              iconAnchor:   [22, 94],
            }]

[2019-05-15 08:59] pierroo commented on #49
Thank you @almas542  for answering!

Unfortunately, your actual code for the html image turned into a broken image...

Can you please write it so that it doesn't turn into an image in GitHub?

Thank you so much!

[2019-05-15 09:05] almas542 commented on #49
Hi @pierroo check now. you have to add tags  <> in start and end to make it proper HTML tag of img. Thanks

[2019-05-15 09:24] pierroo commented on #49
It works perfectly now @almas542 , thank you so much!

I did not notice that the path was taken from the node module, and not from the root of my page where the map is used as usual.

Only two questions remain now:

- How can I get rid of that icon at the top left that hide/show markers?
- Can we draw lines between markers?

I try my luck here if you know about these, otherwise I will create new t

[2019-05-20 17:28] zxhm001 commented on #48
@ManishSharmaApporio @reggie3 Anyone solved this problem?I have the same

[2019-05-22 12:18] slisystem opened #51 "VectorLayers supported?"
Hi,

quick question: Are vector layers (especially multiple polyLines, polygons etc: https://leafletjs.com/reference-1.5.0.html#polyline) supported or can you only display HTML-based markers? If not supported yet, is it planned?

Thanks and best,
Daniel

[2019-05-27 11:01] reggie3 commented on #50
This is not currently possible in this app.

[2019-05-27 11:03] reggie3 commented on #48
I haven't run into this problem.  What kind of device are you running into the problem on?  Maybe your browser isn't set up to run JavaScript?

[2019-05-27 11:04] reggie3 commented on #51
Not currently supported, though I may get around to it at some point if I find the time.

[2019-05-31 07:31] almas542 opened #52 "Map is not Rotated"
is it possible we rotate the map because currently map is not rotated by swiping from fingers like google map?

[2019-05-31 07:34] almas542 opened #53 "Default left side layer to hide and show the map"
How can I remove at the top left that hide/show markers layer?

Also zoom control is not showing, i set the attribute to true?

i set the component like this
 <WebViewLeaflet
                    ref={(component) => (this.webViewLeaflet = component)}
                    onLoad={this.onLoad}
                    eventReceiver={this} // the component that will receive map events
                    ce

[2019-05-31 07:36] almas542 opened #54 "this webViewLeaflet is undefined"
this code is not working

this.webViewLeaflet.sendMessage({
  zoom: 6,
  locations: this.state.locations, // an array of locations
  showAttributionControl: this.state.mapState.showAttributionControl, // a boolean controlling whether the map displays its attribution control
  showZoomControl: this.state.mapState.showZoomControl // a boolean controlling whether the map displays its zoom control
});

[2019-06-23 01:25] reggie3 commented on #52
That's not currently supported in this project.

[2019-06-23 01:25] #46 closed

[2019-06-23 01:26] #44 closed

[2019-06-23 01:26] #35 closed

[2019-06-23 01:26] #45 closed

[2019-06-23 01:26] #47 closed

[2019-07-18 17:11] pierroo opened #55 "Can it work without Expo?"
Hi,

I read that starting version 4.2.4, we would no longer require to use Expo SDK;
which should mean we could use it in a bare react native app.

However I faced countless issue, and ended up having to install expo-asset / expo-font / expo-utils, and of course the unimodules (that is quite HEAVY in terms of actions needed)

Am I missing something?
I really do not want to go with google map which

[2019-07-20 09:55] lucasvanbramer commented on #48
Having this problem on Galaxy S7.

[2019-07-31 09:19] Nazeerahmad1996 opened #56 "It loads the html source code."
It loads for some time and then shows the HTML code on the screen. There nothing else. Please tell me if I am doing some error or its package error?

[2019-07-31 09:39] TimSchue commented on #48
I have the same problem.

[2019-08-03 08:30] sunandy3 opened #57 "How to set the subdomains on TileLayer?"
I tried several ways to set the subdomains, but neither is working. What's the right way to set the subdomains for tileLayer?

const mapLayers = [
            {
                type: 'TileLayer',
                baseLayer: true,
                url: `http://webrd0{s}.is.autonavi.com/appmaptile?lang=zh_cn&size=1&scale=1&style=8&x={x}&y={y}&z={z}`,
                options: {
                    subd

[2019-08-09 18:45] gutoglup commented on #55
Hello, I submitted a pull request that remove the expo dependency to work with only react-native apps. ;D

[2019-08-09 18:47] gutoglup commented on #51
Hey, I submitted a pull request with the feature of VectorLayers inside the map. If @reggie3 can evaluate the code. :D

[2019-08-10 13:56] pierroo commented on #55
That is awesome @gutoglup , thank you so much for this!

I am not familiar with GitHub that much though; does that mean that if I update my version it will work?
Or does a "pull request" means it needs to be merged with the main project?

If that is the case, how can I implement your version instead?

Thank you once again so much! :)

[2019-08-11 23:56] gutoglup commented on #55
So, in this case, we need the @reggie3 approves the pull request #58, and publish the new version to us :D

[2019-08-17 09:02] pierroo commented on #55
Hi @gutoglup , I do not know if @reggie3 will pass by anytime soon and I respect everyone's schedule; but I really do need this pull request urgently:

is there anyway for me to fetch your version so that I can change it locally on my app while waiting for the final merge?

Again I am no GitHub expert, but I would really appreciate your help once again :)

[2019-08-18 03:35] theinvensi commented on #55
I'm waiting this same issue be fixed...

Someone with good news? kkkk

[2019-08-20 14:25] pierroo commented on #53
Hello,

I am wondering the same; did you find a solution to hide this "ugly grey icon" at top left since?

Please let me know

[2019-08-20 14:27] pierroo commented on #55
@theinvensi ; can you confirm you fetched the updated version using:

npm install --save react-native-webview-leaflet#pull/58/head

then you made the change using react-native-webview?

Then you quit your simulator and re-ran the whole app again?

[2019-08-22 11:20] sunandy3 commented on #57
does anybody know the proper way to set the sub domains?

[2019-08-22 17:03] kevinbraun commented on #56
Seeing the same issue myself, specifically on an Android emulator.

Running:

* Expo SDK  - 34.0.4
* react-native-webview-leaflet - 4.3.4

Sits there loading for a while, then simply renders the content of index.html.  On a physical Android device, I don't see the HTML rendered, but the webview sits there loading indefinitely.

The same application works as expected on an iOS Simulator.

![Screen

[2019-09-01 17:53] reggie3 commented on #56
This happens if the react-native-community/react-native-webview package is used and is documented here: https://github.com/react-native-community/react-native-webview/issues/667 Try publishing your app.  You should be able to see the map then.

[2019-09-01 17:53] #56 closed

[2019-09-01 17:54] reggie3 commented on #54
Where are you sending this code from, and do you actually have a reference defined?

[2019-09-02 13:29] pierroo commented on #55
Hello,

Did you find any reason why we are still getting errors with your latest push?

@reggie3  can you please let us know if this project is still maintained?
I would really appreciate it so I know if I should go back to google maps, as much as I hate it and their pricing :/

[2019-09-03 20:28] tomhoefer opened #59 "WebView endless spinner"
Hi all,

I am trying to use this libary to show a map in my react native application. Unfortunately I am not able to load the map. The only thing that is shown is an endless spinner. I tried to follow the app.js example of this repository. Do you have any idea?

[code]

[2019-09-05 17:38] wahyuidiots commented on #59
same problem here :(

[2019-09-11 08:39] tomhoefer commented on #59
@reggie3 Do you have any idea? My package.json is

[code]

[2019-09-11 08:46] AsimAziz opened #60 "Error : while running 'react-native run-android'"
**Error**:  Android project not found. Are you sure this is a React Native project?

Can anybody please help me out.

**Anyother** way to run this on android?

**If** i run 'expo start':

Error: Can't find react-native in package.json dependencies
Cannot find module 'expo/tools/LogReporter'

[2019-09-11 09:06] AsimAziz commented on #48
Same Problem.

[2019-09-11 09:57] AsimAziz commented on #59
same problem.

[2019-09-11 10:47] #60 closed

[2019-09-11 12:11] AsimAziz commented on #59
@tomhoefer, Did you manage to find out any solution.

[2019-09-12 06:39] tomhoefer commented on #59
@AsimAziz No - I am still waiting for support

[2019-09-17 12:38] zahid49 commented on #51
Hi @gutoglup @reggie3,
How can I draw a circle with the latest(master) branch,  actually I'm not able to make polygons in master branch? In branch "polygons-no-expo" I was able to draw a polygon.

[2019-09-17 14:21] zahid49 commented on #49
Hi @almas542 @pierroo,  how can I change the icon of ownPositionMarker.
I'm trying with:
`  ownPositionMarker={{
            coords: this.state.currentLocation,
            icon: '<img src="../assets/icons8-target-40.png" alt="Smiley face" width="42" height="42">',
            size: [24, 24],
            animation: {
              name: 'pulse',
              duration: '.5',
              delay: 0

[2019-09-17 15:54] pierroo commented on #49
Hi @zahid49

Your path must start from your node_modules plugin, so in your case it would be:

<img src="../../../../assets/icons8-target-40.png"

[2019-09-18 11:25] gutoglup commented on #51
Hey :D @zahid49
So, I only implements to draw vector like polygons, I don't implement to draw circles or use GeoJSON :/
But it's a great suggestion to implements.

[2019-09-18 11:31] zahid49 commented on #51
Oky, can you please help me to update. Just tell me the process .

.what are the things to setup.
.How can update dist dir.  Package is use code inside dist/index.html ?
. I need to update inside  web dir. ?

I shall be very thankful to you.
Thanks.

On Wed, 18 Sep 2019, 4:25 pm Augusto Reis, <notifications@github.com> wrote:

[2019-09-19 08:16] zahid49 commented on #51
Or can you please add a "circle" feature and please uncomment that "center button" code.

=> Add render circle feature function....
` <Circle center={layer.coords}
              fillColor={layer.color || 'blue'}
              radius={200}/>`

[2019-09-20 12:26] hussainahmad commented on #48
getting the same issue after updating expo version from `32.0.0` to `33.0.0`

[2019-09-25 07:02] hussainahmad opened #61 "Show Label with a marker"
Hey... ! First of all I am really thankful for this wonderful library.

I have to show the label with the marker like this. [http://leaflet.github.io/Leaflet.label/](http://leaflet.github.io/Leaflet.label/) , I was looking the library `Leaflet.label` , but I have no idea how to use this in this as right from my understanding after reviewing the code there is not any props to show label with the ma

[2019-09-25 07:03] hussainahmad commented on #61
@reggie3 @forki @killelea @gutoglup

[2019-09-27 12:58] hussainahmad commented on #61
Hi anyways thanks for the library, solved my solution through [this](https://stackoverflow.com/a/34776015/3026578).

[2019-09-27 12:58] #61 closed

[2019-09-28 15:55] xain786 opened #62 "how we can show svg image maps?"

[2019-09-30 14:15] zahid49 opened #63 "How can we update ownPositionMarker(coords)/Track ?"

[2019-10-03 09:14] SvetlanaSiarska commented on #55
Hallo guys,  I decided to use his package react-native-webview-leaflet-without-expo-fix
Release 4.1.22 . After some hours, it works ... I mean, I can see the map in my RN simulator :)  I have  to check the other functionality now. I did two small changes on his code, but I see no possibility  to do a pull request ... this code is not on github.  Let me know, if you need help.

[2019-10-09 12:33] zahid49 commented on #33
Hi @reggie3, did you manage to make it work (those "layer control buttons") ?

[2019-10-13 17:09] reggie3 commented on #48
I think this is related to the issue that react-native-webview-cohas with running inline htm/css/javascript.  That issue is documented here https://github.com/react-native-community/react-native-webview/issues/667

[2019-10-13 17:09] #48 closed

[2019-10-13 17:11] reggie3 commented on #55
I'm working on a new version that will only use the expo-asset-utils library for loading the index file.

[2019-10-13 17:12] #55 closed

[2019-10-13 17:12] #52 closed

[2019-10-15 06:53] hussainahmad commented on #51
@reggie3 is there any future release for different VectorLayers support like Polygon, Polyline

[2019-10-19 15:50] reggie3 commented on #51
I'm currently working on version 5 of the app which will support all the available geometry objects.  It also moves the package to react-native-community-webview.  I might be able to publish something this weekend.

[2019-10-20 00:47] reggie3 opened #64 "Version 5"
Version 5 Roadmap:
Typescript support
Fully support React Leaflet vector layers
Use new react-webview from react-native community

Version 5 is being developed in branch '15-version-5'

[2019-10-21 20:04] tomhoefer commented on #59
Actually duplicate of #48 and #56 - I didnt wait long for the HTML code to be rendered.

[2019-10-21 20:04] #59 closed

[2019-10-24 11:01] reggie3 commented on #64
@hussainahmad Unfortunately, those icons don't show up, and I'm not sure why that is the case.

[2019-10-27 16:54] alexstacey opened #65 "Minimal App.js example?"
Hi, Could someone help me with minimal App.js code to get a map rendering? This starts without errors but when I look at it through Expo it's a bunch of raw html. Any tips? Thanks in advance.

[code]

[2019-10-29 05:53] HasnainAD opened #66 "Viewport shows progress indefinitely"
Hi I have just started using this library. I copied the code in README.md file with OSM layer. But I am not getting any errors instead I get following screen where the progress bar runs continuously.

![Screenshot_20191028_214843_host exp exponent](https://user-images.githubusercontent.com/10392852/67740767-c7e07780-fa38-11e9-9e59-ca1fe93d66e4.jpg)

Following is my code:

[code]

[code]

Is this a

[2019-10-31 12:02] hussainahmad commented on #64
@reggie3  when you are going to release this master branch and npm package ?

[2019-11-02 13:32] reggie3 commented on #64
@hussainahmad that's the plan.

[2019-11-04 06:32] hussainahmad opened #67 "How to change default map Layer"
Hi @reggie3,
I want to change default map layer, currently showing `open street map`, like carto, yandex or baidu, but I didn't find any luck for this needed feature. if this is not possible could you please add  this in version.

[2019-11-04 12:58] hussainahmad commented on #20
@reggie3
[code]
with above map tile layer url you can easily find this issue.  to resolve this I have to pass  `crs = L.CRS.EPSG3395` , don't know how to this, as found minimal support for customization.

[2019-11-07 16:14] mvits commented on #66
Hi,
This services not use keys, in other implementations is funtional.

How is your package.json for this project? I have a problems in inmplement this plugin, I can't implement correctly form with basic example

[2019-11-07 17:00] mvits opened #68 "Structure error package.json for implemetation this complement"
Hi,

I have a problems implement this complement because the dependencies versions are incompatible and errors in the implementation of basic example.

My package.json is :

{
  "name": "App",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "android": "react-native run-android",
    "ios": "react-native run-ios",
    "start": "react-native start",
    "test": "jest",
    "lint": "eslin

[2019-11-08 08:41] CharlotteRdn commented on #65
Hi,
I have the same problem (I think). I tried this :

`import React, { Component } from "react";
import { Platform, StyleSheet, Text, View, Alert } from "react-native";
import WebViewLeaflet from "react-native-webview-leaflet";

export default class Map extends Component {
  constructor() {
    super();
    this.state = {
      location: null,
      errorMessage: null,
      locations: [],

[2019-11-11 14:26] andrerim commented on #66
I have the same problem with android in development build, but the map loads if I publish the project and use the production build. Maybe the issue has something to do with permissions in development mode?

[2019-11-18 10:10] reggie3 commented on #68
I'm working on a new version that should hopefully address this.

[2019-11-18 10:10] #68 closed

[2019-11-19 04:48] stand1715 commented on #66
same problem

[2019-11-19 23:38] Cyf0x commented on #66
Same problem too !

[2019-11-20 12:53] Cyf0x commented on #66
I have found this alternative. It's a little urgent on my side. I still share it with you even if it's a little off topic. It is necessary to develop a personal map with the elements you need. After that I don't know yet how I will interact between this map and my components.

`import React, {Component} from 'react';
import {WebView} from 'react-native';

export default class App extends React.Com

[2019-11-20 12:55] Cyf0x commented on #66
I have found this alternative. It's a little urgent on my side. I still share it with you even if it's a little off topic. It is necessary to develop a personal map with the elements you need. After that I don't know yet how I will interact between this map and my components.
[code]

[2019-11-24 23:31] reggie3 commented on #57
That's not supported by this package.

[2019-11-25 10:59] marcosilvestroni opened #69 "expo-asset-utils needs expo-file-system to work"
I cannot compile my project on metro and android emulator because

` [25/Nov/2019:10:45:20 +0000] "GET /index.bundle?platform=android&dev=true&minify=false HTTP/1.1" 500 - "-" "okhttp/3.12.1"
error: bundling failed: Error: Unable to resolve module `expo-file-system` from `node_modules/expo-asset-utils/src/copyAssetToSameDirectoryWithNewNameAsync.js`: expo-file-system could not be found within the

[2019-11-25 11:01] marcosilvestroni commented on #69
I already remove node_modules and reinstall all the stuff

[2019-11-28 12:20] reggie3 commented on #64
Version 5 work moved to version/version-5 branch https://github.com/reggie3/react-native-webview-leaflet/tree/version/version-5

[2019-11-28 12:20] reggie3 commented on #69
That issue will be addressed in version 5

[2019-11-28 12:20] #69 closed

[2019-11-28 12:20] reggie3 commented on #66
This issue will be addressed in version 5

[2019-11-28 12:20] #66 closed

[2019-11-28 12:21] #50 closed

[2019-11-28 12:21] #51 closed

[2019-11-28 12:22] #53 closed

[2019-11-28 12:22] #54 closed

[2019-11-28 12:22] reggie3 commented on #62
This feature isn't supported.

[2019-11-28 12:22] #62 closed

[2019-11-28 12:26] pierroo commented on #53
I'm sorry to ask again, but is there actually a way to hide this grey square at the top left of the map @reggie3 ? Or is it closed because there is no way and is meant to remain this way? Thank you for your help

[2019-12-18 22:58] EmanueleGuidotti commented on #55
Hi @SvetlanaSiarska I'd like to know where to make the changes in the code. I've tried without success.

[2019-12-19 15:42] varshan09 commented on #69
I am facing same issue.

[2019-12-19 15:51] varshan09 opened #70 "Unable to resolve module `expo-file-system`"
Unable to resolve module `expo-file-system` from `node_modules/expo-asset-utils/src/copyAssetToSameDirectoryWithNewNameAsync.js`:
expo-file-system could not be found within the project.

If you are sure the module exists, try these steps:
 1. Clear watchman watches: watchman watch-del-all
 2. Delete node_modules: rm -rf node_modules and run yarn install
 3. Reset Metro's cache: yarn start --reset-

[2019-12-28 12:43] reggie3 commented on #64
Version 5 update on hold until I can solve this issue with my structurally similar react-native-webview-leaflet library:
https://github.com/reggie3/react-native-webview-quilljs/issues/41

[2020-01-15 10:43] reggie3 commented on #64
Version 5 released and published.

[2020-01-15 10:43] #64 closed

[2020-01-15 10:44] reggie3 commented on #67
Please check the readme for details on setting the map layer I. Version 5 of this library.

[2020-01-15 10:44] #67 closed

[2020-01-15 10:45] reggie3 commented on #65
Please check the readme and master branch for the demonstration application.

[2020-01-15 10:45] #65 closed

[2020-01-15 10:47] reggie3 commented on #49
Closing for inactivity

[2020-01-15 10:47] #49 closed

[2020-01-15 10:48] reggie3 commented on #63
You can update own position by changing the position prop in the own position icon.

[2020-01-15 10:48] #63 closed

[2020-01-15 10:48] reggie3 commented on #70
You need to install the missing module.

[2020-01-15 10:48] #70 closed

[2020-01-15 10:49] #57 closed

[2020-01-17 18:45] alainib commented on #51
hello. sorry if wrong place.
I have an array of {lat,lon} , i want to display them image like a gps trace of a car.
i think it's "polyline" but how to do it ?
thanks

[2020-01-18 08:59] alainib opened #72 "error on android 5.0.1 string ressource ID #0x3040002"
hello

the following code doesnt work on samsung galaxy s4 with android 5 but work on huawei p20

the error is :
![Screenshot_2020-01-18-10-55-26](https://user-images.githubusercontent.com/7910081/72661325-c93a9400-39d8-11ea-969b-e602143e19e9.png)

the used code is the following, just to test this package (who work nice on recent android)

commenting the `<WebViewLeaflet />` remove the error.
[cod

[2020-01-25 14:04] reggie3 commented on #72
It looks like it is related to react-native-webview and the browser used on your specific phone. Can you try installing the react-native-webview package and seeing if you can render a basic page on that phone per the examples for that package?

[2020-01-25 14:04] reggie3 commented on #51
Vector layers support added in version 5

[2020-01-30 21:33] humbertocruz opened #73 "React Hooks"
Hello, this works with React Hooks ? Thanks

[2020-01-31 20:10] humbertocruz opened #74 "How to make a tooltip"
Hello, I found a way with no sucess, how can I add a tooltip for each marker on the map ?
Thanks

[2020-02-06 08:59] saraswathiSubbu opened #75 "How to create customize Markers with text"
In react-native-webview-leaflet How to create an customize markers which includes text in marker similar like to the url

(https://user-images.githubusercontent.com/60733081/73921161-24b8bd00-48c7-11ea-8a4b-e45cde2fae4a.png)

[2020-02-12 14:24] brentleung-negawatt opened #76 "Event Listener on changing map layers"
Thanks for the fantastic library!

This library supports multiple map layers, but only one set of map Shapes and map Markers for all map layers.

I wonder if there is an event listener for changing between map layers so that I could add a custom function on changing layers or update the map shapes or map markers.

Thank you!

[2020-02-13 13:25] saraswathiSubbu commented on #75
@reggie3 can you please help me to solve this

[2020-02-19 12:42] saraswathiSubbu commented on #49
locations:
      {
        id: '1',
        name: 'positionMarker',
        coords: { lat: 34.225727, lng: -77.94471 },
        position: { lat: 34.225727, lng: -77.94471 },
        icon:'<img src= "../../../../assets/images/icon_back.png" width= 100 height=100>',
        size: [100, 100],
        iconAnchor: [22, 94],
      }
this is my code it renders an empty squrae can anyone help on this

[2020-02-19 12:45] saraswathiSubbu commented on #49
locations:
      {
        id: '1',
        name: 'positionMarker',
        coords: { lat: 34.225727, lng: -77.94471 },
        position: { lat: 34.225727, lng: -77.94471 },
        icon:'img src= "../../../../assets/images/icon_back.png" width= 100 height=100',
        size: [100, 100],
        iconAnchor: [22, 94],
      }
it renders an empty square can anyone help me on this

[2020-02-20 15:38] vovka-s opened #77 "No ability to switch off clustering of markers"
There is a flag `useMarkerClustering` in HTML/src/MapMarkers.tsx but it has default value `true` and there is no way to pass value `false` through <WebViewLeaflet> component

[2020-02-20 16:47] DanBrima opened #78 "Is it possible to use 'ImageOverlay' with 'react-native-webview-leaflet'?"
Hey,
I want to use an ImageOverlay. So far I have tried:
`
<WebViewLeaflet
                ref={component => (this.webViewLeaflet = component)}
                onMessageReceived={() => {}}
                mapLayers={[
                    {
                        layerType: 'ImageOverlay',
                        url: './zooMap.png'
                    }
                ]}
            />
`

The fi

[2020-02-21 14:44] #78 closed

[2020-02-22 15:03] reggie3 commented on #78
@DanBrima did you figure out how to do this, and if you did, would you mind sharing what you found?

[2020-02-24 09:51] kk90 opened #79 "React Native Web support"
Hello
Is it possible to add support for web?
Following message is thrown when running on web:
[code]

Same project on android works well.

[2020-02-24 13:04] CarlQLange opened #80 "Build instructions"
Hi, I would like to fork this and add a few features. Could you explain how to build this for local use? Thanks!

[2020-02-27 15:57] saraswathiSubbu commented on #78
Just facing with same error can anyone help me

[2020-03-05 13:16] schmem55 commented on #35
Hi ,
Is there a possibility to use react-native-webview-leaflet without using expo?
(react native app 0.59.10)

[2020-03-12 07:50] kirantpatil opened #81 "Upgrade react-leaflet to upstream version"
Hi,

I could see that this project is using react-leaflet version 2.4.0 and current upstream version is 2.6.1.

When will it be updated to upstream version ?

Thanks.

[2020-03-12 15:18] Amaro96 opened #82 "Webview-Leaflet work offline?"
Hello, I'd like to know if it's can work offline?

[2020-03-14 10:32] reggie3 commented on #81
I'd be willing to accept a PR that does this.

[2020-03-14 10:37] reggie3 commented on #79
I don't know.  Do you know if react-native-webview is supported on the web?
The map itself is an HTML page inside of a react-native-webview, so react-native-webview support is required in order to use this library

[2020-03-14 10:38] reggie3 commented on #75
That is not a feature that is currently supported.  However, I'd definitely be willing to look at a PR that adds it.

[2020-03-14 10:39] #72 closed

[2020-03-14 10:40] reggie3 commented on #73
I don't know, but the library is just a component.  Give it a try.

[2020-03-14 10:40] #73 closed

[2020-03-14 10:41] reggie3 commented on #76
Do you know if the Leaflet documentation has such a listener?  If so, it could be added to the library.

[2020-03-14 20:32] Talmaj opened #83 "Add event listener for mapShapes"
Currently there is no support for onClick for Polygon shapes that is supported in the official leaflet library.

[2020-03-14 20:33] Talmaj opened #84 "Library performance"
I want to ask, what is the difference in terms of performance if you make the whole app online using [leaflet](https://github.com/Leaflet/Leaflet) with [react-native-webview](https://github.com/react-native-community/react-native-webview) or using this library?
It seems this library is using react-native-webview, so why not just implement the whole app in leaflet and react-native-webview?

[2020-03-15 14:05] reggie3 commented on #83
I'd be willing to accept a PR that added this capability.

[2020-03-15 14:06] reggie3 commented on #82
I don't know if it would do what you're saying.  Have you tried it yet?

[2020-03-16 10:05] schmem55 opened #86 "React native issue"
Hi i am a newbie in react native
i use RN 0.59.10
i am not able to implement react-native-webview-leaflet

here is my code

import WebViewLeaflet from "react-native-webview-leaflet";

export default function MapScreen({ navigation }) {
    return (
      <View style={{ flex: 1, alignItems: 'center', justifyContent: 'center' }}>
        <WebViewLeaflet
            ref={component => (this.webViewLea

[2020-03-17 06:54] 322ne commented on #86
I,meet the same issue 。supplement， When I install  @unimodules/core, It prompts that new packages need to be installed

[2020-03-17 09:11] 322ne commented on #86
I opened expo-assets-utils and found that no dependencies were installed on the inside or outside. Even if I manually added the dependencies, I still get an error.

[2020-03-17 10:57] Amaro96 commented on #82
Sorry for the confusion, but I would like to know if it is possible to work offline

[2020-03-20 14:02] abdulsamadola commented on #86
I'm facing the same issue, is there any work around yet?

[2020-04-08 11:13] DanBrima commented on #78
imageOverlay = {
        layerType: MapLayerType.IMAGE_LAYER,
        url:
          'https://www.safari.co.il/Content/assets/mappage/desktop/map_zoo.png',
        bounds: [
          [-VERTICAL_AXIS / 2, -HORIZONTAL_AXIS / 2],
          [VERTICAL_AXIS / 2, HORIZONTAL_AXIS / 2],
        ],
      }

thats what worked for me. The problem was the url

[2020-04-10 14:41] pavelustenko commented on #86
I facing the same issue

[2020-04-11 07:38] developerdex2908 opened #87 "Unable to bundle js file version mismatch"
When building the bundle, it always complains react native version mismatch. Version 62.2 and version 61.4 mismatch.

I've tried to downgrade the version to 61.4, but some of the js files will not be available in folders such as react-native/Libraries and react-native/Components. I assume this is because expo is only supporting version 61 so far?

How can i fix this? please help.

[2020-04-12 17:16] samueloviedo04 opened #88 "Map not show"
My map only looks blue, even the example they give on it. the map does not move or show any interaction
![Captura](https://user-images.githubusercontent.com/22747286/79075249-a9f19100-7cbf-11ea-91f2-26a76ed696ab.JPG)

[2020-04-13 14:26] DanBrima commented on #88
From my experience, it happens because one of the parameters passed to the map is somehow wrong

[2020-04-13 16:13] samueloviedo04 commented on #88
` render() {

    return (
        <WebViewLeaflet styles={styles.zIndex}
          ref={(ref) => {
            if(this.state.WebViewLeafletRef == null)
              this.setState({WebViewLeafletRef:ref})
          }}
          backgroundColor={"green"}
          zoom={2}
          onLoadEnd={()=>{
            let mapLayers = this.state.mapLayers;
            this.state.WebViewLeafletRef.sendMess

[2020-04-14 20:57] samueloviedo04 commented on #88
I have reviewed the library and notice that the MAP_READY event never fires. and I only have this in the render..

` return (
    <WebViewLeaflet/>
  );`

[2020-04-26 19:42] LorhanSohaky opened #89 "Erorr when calling onMessage"
![image](https://user-images.githubusercontent.com/16273730/80317884-c96adc80-87dc-11ea-889c-e3735e24eaef.png)

[code]

[2020-04-27 10:28] akiladevinda commented on #70
@reggie3  what need to install ? I also getting this error. My app is not build with expo. What can I do ?

[2020-04-27 13:02] akiladevinda opened #90 "Project with path ':unimodules-core' could not be found in project ':unimodules_react-native-adapter'."
Once I installed your package It gives me some build errors. I have installed above dependencies which need to run this package

[code]

Once I do npm i -s @unimodules/react-native-adapter I cannot build my project with android

[code]

<img width="1242" alt="Screenshot 2020-04-27 at 18 32 23" src="https://user-images.githubusercontent.com/20571997/80375158-73b63300-88b5-11ea-9856-aa2599503809.png

[2020-05-01 20:45] davelass1 opened #91 "How to remove ownPositionMarker/refresh map"
I'm attempting to replace my ownPositionMarker with another svg string; however, it seems to add another marker. I tried to remove with passing marker as null or {}. Is there a way to remove the marker in an event fire? Second, somewhat related, if say position changes, what's the best way to update the marker position?

[2020-05-04 07:52] DanBrima commented on #91
+1

[2020-05-04 07:55] DanBrima commented on #88
You have to have the 'onMessageReceived' prop, otherwise the map won't show. As for your first comment, try removing every prop exect for 'onMessageReceived', and then add one prop at a time until the map won't show again

[2020-05-04 08:17] DanBrima commented on #77
+1

[2020-05-04 13:06] DanBrima commented on #80
+1

[2020-05-04 17:11] DanBrima commented on #91
I found a temporary solution: You can override the markers by doing:
`const newMarkers = {
      mapMarkers: [{}, {}, ...],
    };
    this.webViewLeaflet.webViewRef.injectJavaScript(
      `window.postMessage(${JSON.stringify(newMarkers)}, '*');`
    );`

Note that it will override all the markers' not only ownPositionMarker

[2020-05-05 01:28] davelass1 commented on #91
Is there something I'm missing with the injectJavaScript function? There's an unexpected token towards the end. I edited it with ...`injectJavaScript( postMessage(JSON.stringify(newMarkers), '*'));` and get error:

**_Failed to execute 'postMessage' on 'DedicatedWorkerGlobalScope': No function was found that matched the signature provided_**

. Any chance you have a full example of this?

[2020-05-06 01:12] reggie3 commented on #84
I don't know how to do what you're describing.

[2020-05-06 01:14] reggie3 commented on #77
I'd be willing to take a PR that implements this feature.  If somebody wants to try it and needs some help doing it, let me know.

[2020-05-06 01:15] reggie3 commented on #82
This library requires map tiles, and I don't know how to get those to work offline

[2020-05-06 01:16] reggie3 commented on #86
This library uses various Expo packages to find and load files.   I don't know how they would interact with unimodules.

[2020-05-06 09:47] DanBrima commented on #91
injectJavaScript recives a string. In addition, you forgot 'window.'

[2020-05-06 09:49] DanBrima commented on #77
I would like to help. I looked at the source code, and if you would explain hot to fork this library I will be able to do it

[2020-05-06 18:01] felisio opened #93 "implement ZoomControl"
Hi, exist any chances to you implement the zoomControl in the project?
I need to hide the controls on the screen, but without this implementation is pretty hard to do. If you like I can create a PR for this. Thanks 🌞

[2020-05-13 07:29] hiennguyen92 commented on #90
Was anyone able to fix it?

[2020-05-14 12:42] nimeshbhalani commented on #39
Is custom design for clusters supporting in latest version?

[2020-05-20 10:40] daxreyes commented on #79
There is a package [react-native-web-webview](https://github.com/react-native-web-community/react-native-web-webview) that might be useful

[2020-05-31 19:06] reggie3 commented on #77
@DanBrima You should be able to fork it using the Fork button in the upper right corner of the Github window:
![image](https://user-images.githubusercontent.com/7347192/83360565-3af3f880-a350-11ea-83f7-7b8413a4070e.png)

[2020-06-05 16:04] UlysseGuyon opened #94 "Local image in mapMarkers icon"
Hello,
I am currently trying to display a local image (icon.png) via the icon attribute of the mapMarkers prop of the WebViewLeaflet component.
To simplify, my file looks like this :
[code]

And my project architecture looks like this :
[code]

I tried the solutions presented by @pierroo on issue #49 by starting from the directory of the node module but I tried from 1 to 10 consecutive `../` in th

[2020-06-11 12:45] Nobleis commented on #74
also i need display tooltip when hit any marker

[2020-06-12 06:14] maysolanki opened #95 "how to get cluster data?"
i have many cluster. i need to get each cluster data when i'm click it.

[2020-06-12 06:44] maysolanki commented on #77
hello i need cluster data when i'm click on particular cluster.if you have any solution so please give me .

[2020-06-19 06:22] ortonomy commented on #90
I can't build my project as soon as I included this module in a file.... This package doesn't work any more?

[2020-06-19 06:28] ortonomy commented on #86
This package seems to be incompatible with `react-native-community/react-native-webview`, too....

![image](https://user-images.githubusercontent.com/6688676/85103382-20b78700-b239-11ea-80ed-d274cd054b34.png)

[2020-06-19 06:29] ortonomy commented on #90
possible duplicate: https://github.com/reggie3/react-native-webview-leaflet/issues/86

[2020-06-19 06:34] ortonomy commented on #90
This project is unusable in its current state.

[2020-06-19 06:39] akiladevinda commented on #90
@ortonomy Yes. I think we need support from the owner to resolve these issues

[2020-06-20 15:05] #84 closed

[2020-06-21 13:13] reggie3 commented on #86
This project hasn't been tested with unimodules, and wasn't designed to work with them.  I'll leave this issue open in case somebody figures out a way to make it work and wants to share their findings.

[2020-06-21 13:13] #82 closed

[2020-06-21 13:15] reggie3 commented on #93
I'd be open to a PR for this.  Feel free to submit one if you'd like.

[2020-06-21 13:20] ortonomy commented on #86
I don’t even know what unimodules is - it must be a dependency somewhere else. Either way, the project was working fine, I added this package and it broke.

[2020-06-26 13:41] alex-yatseyko opened #96 "Is there a way to render Google Maps in react-native-webview-leaflet"
I want to render Google Maps in react-native-webview-leaflet. Is there some way to do this?
I worked only with OpenStreerMaps and HereMaps

[2020-06-30 12:45] aristech commented on #96
try this, seams to be working for me
...
const mapType = {
          HYBRID: 'y',
          SATELLITE: 's',
          TERRAIN: 'p',
          ROADMAP: 'm',
        }[extraData];
...
mapLayers={
...google
...url: `http://mt0.google.com/vt/lyrs=${mapType}&hl=en&x={x}&y={y}&z={z}&s=Ga`
}

[2020-06-30 12:51] aristech commented on #90
I have found a temp solution for android using react-native (not expo) by calling the html from android assets using rnfs.
Don't know if i can make a pull request since a lot of people are using this with expo
You can get from [my fork](https://github.com/aristech/react-native-webview-leaflet)

[2020-06-30 12:56] aristech commented on #86
check my comment [#90](https://github.com/reggie3/react-native-webview-leaflet/issues/90)

[2020-07-05 20:32] reggie3 commented on #77
That's not currently supported

[2020-07-05 20:33] reggie3 commented on #95
Duplicate of https://github.com/reggie3/react-native-webview-leaflet/issues/77

[2020-07-05 20:33] #95 closed, assigned to nobody

[2020-07-05 22:20] reggie3 commented on #89
I just started a new project and I'm seeing the same thing too.  I'll let you know if I come up with a solution.
Related to this issue with react-native-webview https://github.com/react-native-community/react-native-webview/issues/1324

I tried downgrading to react-native-webview version 9.2.0 as some of the people in that issue tried but that did not solve this issue.

[2020-07-12 09:17] valeriik opened #97 "Is it possible to add a plugin from leafletjs plugin list?"
Is it possible to add a plugin from [leafletjs plugin list](https://leafletjs.com/plugins.html)?
Maybe here is not the best way to ask question therefore I've created a question on [stackoverflow](https://stackoverflow.com/questions/62854420/autocomplete-for-addresses-and-search-in-react-native-webview-leaflet) and I see  there is [leaflet-search plugin](https://github.com/stefanocudini/leaflet-se

[2020-07-13 10:18] kenwoolf commented on #89
Don't know if it was just a typo, but the last version they said was working was 9.0.2, not 9.2.0.

[2020-07-15 16:34] LorhanSohaky commented on #89
Is it not worthwhile to update the project to a newer version of react native web view?

[2020-07-18 10:40] valeriik commented on #90
Absolutely agree with @akiladevinda - unfortunately "This project is unusable in its current state."

[2020-07-18 11:33] valeriik commented on #90
Even after installing packages that were indicated in errors:
[code]

and insert just one this package:
[code]

I got another error:
![image](https://user-images.githubusercontent.com/24571089/87851650-6b452580-c903-11ea-8cde-68b493759425.png)

When I commented <WebViewLeaflet this error disapeared.

So, main question still the same - HOW to run react-native-webview-leaflet?

[2020-07-22 09:16] FreeCaribou commented on #89
Can you please upgrade the react native webview, as Lorhan ask also :) ?

[2020-07-27 16:31] doubleh311 commented on #89
I have tried react-native-webview-leaflet today, and encountered the same issue, I have updated the dev-dependancies react native web view version to 9.4.0 and it works

My project dependencies:
- vue-native init,
- expo upgrade to sdk 38,
- react-native-webview-leaflet  5.0.2,
- react native web view 9.4.0

[2020-08-10 13:38] ZaidSA commented on #90
@reggie3 Can you please help us here, as this is making library unusable.

[2020-08-10 13:42] ortonomy commented on #90
Honestly, it was so trivial to make a web view, with a leaflet JS full page inside that web view, there is no point in using this lib. Just roll one yourself.

[2020-08-10 13:44] ZaidSA commented on #90
Thanks @ortonomy for your response, would you like to guide me to achieve that?

[2020-08-10 13:53] ortonomy commented on #90
1. Create an HTML file with all the code you need to create the leaflet JS view ( make sure body is 100% high / wide using flex)
2. Make sure you load leaflet JS from CDN like js-delivr
3. Add HTML page to standard react-native community web view.
4. Done

caveat: ios and android assets are accessed differently. you'll find the answer on SO.

[2020-08-10 14:35] ZaidSA commented on #90
Thanks very much @ortonomy, I will check that out.

[2020-08-12 12:16] #96 closed, assigned to nobody

[2020-08-12 12:17] #90 closed

[2020-08-12 12:17] #93 closed, assigned to nobody

[2020-08-12 12:18] #91 closed

[2020-08-12 12:18] #86 closed

[2020-09-04 21:44] joshua-smith4 opened #101 "Display Multiple layers simultaneously - TianDiTu"
Hi All,

Does this library support showing multiple layers simultaneously? TianDiTu is split up between the base map (http://{s}.tianditu.com/DataServer?T=vec_w&X={x}&Y={y}&L={z}) and the labels (http://{s}.tianditu.com/DataServer?T=cva_w&X={x}&Y={y}&L={z}) (notice the T url query parameter). Some example tiles are shown below.

![Screenshot from 2020-09-04 15-41-33](https://user-images.githubuser

[2020-10-26 23:41] Jheruz opened #102 "How to animate the change of mapCenterPosition"
Right now, when I change the mapCenterPosition it just blink not like zooming out then moving to the updated center then zooming in

[2020-10-27 00:23] Jheruz opened #103 "How to filter marker base on bounds"
LatLngBounds is undefined so I can't create a condition something like this
if(LatLngBounds.contains(lat, lng)) {
}

[2020-10-30 05:52] irsyaadbp opened #104 "Is Possible draw directions?"
Hello, is this library draw direction and interate with openrouteservice api direction?

[2020-11-09 08:42] Jheruz commented on #8
Hello! The problem still persist even in version 5.0.2
the ownPositionMarker and mapMarkers still drift in map when zoom too far

[2020-11-09 10:35] Jheruz opened #105 "when component refresh ownPositionMarker will create another copy of itself"
so what happen is, a bunch of ownPositionMaker being display and clustered to one position

[2020-11-12 07:31] Jheruz opened #106 "How to prevent the click of attribution in the bottom right of the map?"
If the user click the attribution it will change the view of the map to the url of attribution which is not good if your app is more on about displaying data on maps and suddenly your map change to normal website

or at least there is a listener to it so we can open the device browser instead of showing it to the webview of map

[2020-11-13 00:42] Jheruz opened #107 "Option to center the lat lng to marker icon"
This is from the same lat lng using google maps
<img width="526" alt="Screen Shot 2020-11-13 at 8 30 57 AM" src="https://user-images.githubusercontent.com/41280316/99013707-1604e200-258c-11eb-86b8-ef848b80f10c.png">

and this is from this package
<img width="217" alt="Screen Shot 2020-11-13 at 8 41 23 AM" src="https://user-images.githubusercontent.com/41280316/99013736-2917b200-258c-11eb-9bcc-48ca

[2020-11-13 01:53] Jheruz opened #108 "MapShapeType separate fill color and stoke color"
and also is it possible to remove the stroke in MapShapeType?

[2020-11-18 06:24] Jheruz commented on #107
Closing since issue has been fixed by using iconAnchor

[2020-11-18 06:24] Jheruz commented on #107
Closing since issue has been fixed by using iconAnchor

[2020-11-18 06:24] #107 closed, assigned to nobody

[2020-11-18 06:37] Jheruz commented on #106
Hello @reggie3 do you have any suggestion how to handle this ?

[2020-11-20 00:58] CDBridger opened #109 "Dependency on expo packages"
This library doesn't mention at all that when installing if its a react native bare project you'll have to install unimodules, expo font etc. before it will work

[2020-11-20 15:13] postic commented on #39
Hi, is possible to alter number of clusters. I'd like to add some text in small cluster circles.

[2020-12-09 10:31] Jheruz opened #110 "Map white screen (injectedJavaScript error)"
I try to use way point to simulate the location change using https://www.gpxgenerator.com/ in xcode
in the beginning it seems normal, it follow the location change in the map. then suddenly the map change to white screen and it throw warning (see in the picture)

![Image from iOS (2)](https://user-images.githubusercontent.com/41280316/101617495-a3343d00-3a4b-11eb-9f32-a9f35a08f104.png)

[2021-03-04 08:57] baydikov-v opened #113 "Module is not a registered callable module (calling onMessage)"
Hi
Can you help me with this error?
`Module  is not a registered callable module (calling onMessage)`
When I run your demo app it works, but if I create new Expo app and try to use your App component from demo it doesn't work.
What should I do with this error?
Thanks

[2021-03-09 19:37] ptpmashish commented on #113
facing same issue. tried older versions of this package and it created some more issues. tried installing the dependencies which were mentioned. nothing is working.
im using expo 40

[2021-03-16 22:43] makemake94 commented on #113
I've changed the dependency "react-native-webview" from "^8.0.3" to "^9.4.0" in node_modules/react-native-webview-leaflet/package.json, run "npm i" in the same folder, and now it works with no error!
The idea came from this fork by uclapi: https://github.com/uclapi/react-native-webview-leaflet/commit/f7b261a7c38719419880cec9b7fdc15fa35beec2
Hope it helps -)

[2021-03-17 23:41] makemake94 commented on #113
My solution doesn't work anymore, don't know why. However, by looking on google, the problem seems to be associated with react-native-webview. Moreover, there may be some conflicts with dependencies, since I'm forced to install the package with --legacy-peer-deps (expo 40)...

[2021-03-21 19:54] yusufsoliman1231 commented on #113
i have the same issue i hope someone help

[2021-04-06 00:40] lowlyocean commented on #80
Try this,
[code]

It updates the WebViewLeaflet/assets/index.html

For reference on how to fork this, make a branch, and then consume your own changes check out npm install command shown in https://github.com/reggie3/react-native-webview-leaflet/pull/118

[2021-04-19 11:12] roncodes commented on #109
Same, receiving an error

[code]

[2021-05-07 11:07] IvesSSa opened #119 "Please help me expo-file-system@8.1.0 invalid"
![image](https://user-images.githubusercontent.com/45648391/117440941-4d66b100-af67-11eb-88e7-96a2afbb8ffd.png)

![image](https://user-images.githubusercontent.com/45648391/117441021-666f6200-af67-11eb-86fd-422f6fbc4c83.png)

[2021-05-25 11:08] Dean177 commented on #113
It looks like this is caused due to a dependency on an old version of react-native-webview.

I was able to get this working by forking the repo and updating the version of RNWebview to match the one my app was already using.

[2021-05-27 16:43] spyshower commented on #90
I have checked out your repo but don't understand the installation instructions about the index file and the assets. Can you be more clear please?

[2021-06-29 07:39] duyenpham98 opened #131 "error Constants.deviceId has been deprecated in favor of generating and storing your own ID"
Constants.linkingUrl has been renamed to Constants.linkingUri.
[Error: The method or property expo-file-system.downloadAsync is not available on android.
Unable to resolve index file
help me!.

[2021-06-30 02:43] #131 closed, assigned to nobody

[2021-07-05 16:10] GaetanKarst opened #132 "OwnPositionMarker property example README"
Hello,

While working with the library I have noted a small typo on the example for the OwnPositionMarker property on the readme.

The `duration` type is a number? and in the example it is declared as a string. A simple removal of the double quotes will fix it. Also there should be ':' after lng of the `coords` property.

Should I create a PR to be checked and merged for the aforementioned issue?

[2021-07-06 15:40] GaetanKarst commented on #132
The `name` property should also be named `type` as `name` doesn't exist in the `MapMarkerAnimation` interface.

[2021-07-19 17:44] ibrag474 opened #133 "RNCWebview tried to register two webviews with the same name"
I have installed react-native-webview@11.xx.xx, react-native-webview-leaflet uses react-native-webview@8.xx.xx. I tried to sync versions with no luck, I am unable to run the package.

[2021-08-11 15:42] jtalz commented on #105
im also getting this behavior, did you find a solution?

[2021-08-19 08:33] Jheruz commented on #105
Too bad I did not, I just set the user location to normal marker

[2021-08-21 00:09] BrianIto commented on #109
Worked with you guys? I got a message saying "Unable to resolve index file"

[2021-09-04 04:09] pavel-corsaghin commented on #113
I have rewritten this library using latest react-native-webview version. You can check here https://github.com/pavel-corsaghin/react-native-leaflet

[2021-09-04 04:16] pavel-corsaghin commented on #90
I have rewritten this library using React Native CLI, react-native 0.64, react-native-webview 11.13.0. You can check here https://github.com/pavel-corsaghin/react-native-leaflet

[2021-09-04 04:18] pavel-corsaghin commented on #109
You can check my forked here https://github.com/pavel-corsaghin/react-native-leaflet

[2021-09-04 16:45] miallo commented on #119
Is it possible that you are running a bare react native app without expo? See #109 where there is a suggestion: https://github.com/reggie3/react-native-webview-leaflet/issues/109#issuecomment-912904252 for a different project

[2021-09-08 08:24] lchnnl commented on #24
Hi Reggie3. We managed to use a different coordinate system using your library as a starting point. I believe leaflet uses (by default) EPSG:4326 coordinate system, however when you want to use a different coordinate system, you'll have to use the Proj4 and proj4Leaflet libraries to add different coordinate systems.

[2021-09-27 18:45] BPich opened #140 "Invariant Violation: Module is not a registered callable module (calling onMessage)"
Hi !

I'm trying to run a basic map following the [readme steps](https://github.com/reggie3/react-native-webview-leaflet#usage) but get the following error :
`Invariant Violation: Module  is not a registered callable module (calling onMessage)`

The App.js to reproduce the error :
[code]

I saw some similar issues (with no definitive answer) on the [react-native-webview github](https://github.com/

[2021-09-27 19:41] miallo commented on #140
Did you run `npm run ios` or `npm run android`? BTW, this repository is no longer maintained, but there is a fork on [pavel-corsaghin/react-native-leaflet](https://github.com/pavel-corsaghin/react-native-leaflet) published under `react-native-leaflet-view` with most features, but noticeably better code quality

[2021-09-28 10:50] BPich commented on #140
I used the Expo Go app to run it on my physical device (Android).
Didn't know this repo was obsolete, will check on the project you're pointing to, hopefully the issue won't appear there.
Thanks !

[2021-10-03 07:06] #140 closed, assigned to nobody

[2022-02-04 11:45] BasselTurky opened #145 "Installation Error: Could not resolve dependency"
PS C:\React Native Workspace\RN-tut\reviews-app> npm install --save react-native-webview-leaflet
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: reviews-app@1.0.0
npm ERR! Found: react@17.0.1
npm ERR! node_modules/react
npm ERR!   react@"17.0.1" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^

[2022-02-04 18:56] bricejoosten commented on #145
Got the same problem unfortunately.
I definitely don't know about the problem.
Is Leaflet in React Native still working ?

[2022-02-06 06:38] miallo commented on #145
This project is no longer maintained. There is [this fork](https://github.com/pavel-corsaghin/react-native-leaflet) which has this error fixed

[2022-03-11 16:36] 0x13b commented on #105
The ownPositionMarker is a simple marker with a special id. When not provided explicitly, this id seems to be generated randomly, which results in ownPositionMarker being duplicated every time we update it. I suggested a [fix](https://github.com/pavel-corsaghin/react-native-leaflet/pull/17) in the child [project](https://github.com/pavel-corsaghin/react-native-leaflet).

[2022-05-10 09:46] phryneas commented on #79
I assume it would probably just be enough to add a JS bundle for the HTML folder to the built package - that way, in my app I could have a `Map.web.tsx` that just directly renders the `MapComponent` component directly, without a WebView in-between.